@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/Hack/Hack-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --background-color: #121212;
  --text-color: #ffffff;
  --href-color: #b4b4b4;
  --href-hover-color: #7a7a7a; 
}

.roboto-font {
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.05rem;
}

.hack-font {
  font-family: 'Hack', monospace;
  letter-spacing: -0.5px;
  word-spacing: -0.5px;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: 400;
}

a {
  color: var(--href-color);
  text-decoration: none;
  font-weight: inherit;
  cursor: pointer;
}

p {
  margin: 1rem;
}

h1 {
  font-size: 1.5rem;
}


#font-btn {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  color: var(--text-color);
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

#title-text a{
  font-size: 3vh;
  color: var(--text-color);
}

header {
  position: relative;
  border-bottom: 0.3vh solid white;
  text-align: center;
}

.body-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 1.5rem;
  border: black solid 0.2rem;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.body-container a:hover {
  color: var(--href-hover-color);
  transition: 0.1s;
}

#skills-container {
  display: flex;
  justify-content: space-between;
  max-width: 450px; 
  margin: 0 0;  
}

.skills-column {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.skills-column p {
	margin-top: 0px;
}

@media only screen and (max-width: 700px) {
  .body-container {
    width: 90%;
  }
}

@media only screen and (max-width: 450px) {
  .body-container {
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .body-container {
    font-size: 0.9rem;
  }
}

/*-----404.html-----*/
#container-404 {
  text-align: center;
}

#container-404 #title-text {
  padding-top: 2vh;
  padding-bottom: 5vh;
  font-size: 3rem;
}

#container-404 #footer-text {
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 1.1rem;
}